@use 'mixins' as *;
@use 'variables' as *;

.agency-wide-card {
    margin: 0;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 1px solid $pa-lighter-grey;
    background: $white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);

    .grid-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .card-icon {
        @include default-text-styling($color: $pa-text-primary, $size: 20px, $weight: 900, $height: 20px);
        width: 40px;
        height: 40px;
        background-color: $pa-light-grey;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .usa-card__heading {
        @include default-text-styling($color: $pa-black, $size: 16px, $weight: 600, $height: 20px);
    }
    .usa-card__body {
        @include default-text-styling($color: $black, $size: 14px, $weight: 400, $height: 20px);
    }
}