@use 'mixins' as *;
@use 'variables' as *;

.index-container {
    .pa-blue-background {
        background-color: $pa-dark-blue;
    }
    .text-light-blue {
        color: $pa-light-blue;
    }
    .index-header-section {
        h1 {
            @include default-text-styling($color: $pa-light-blue, $size: 48px, $weight: 700, $height: 48px)
        }
        h2 {
            @include default-text-styling($color: $white, $size: 22px, $weight: 400, $height: 28px)
        }
    }

    .index-header-text {
        padding-left: 4vw;
        padding-top: 10vh;
        padding-bottom: 7.5vh;
    }

    .spending-trends-header {
        @include default-text-styling($color: $pa-black, $size: 40px, $weight: 600, $height: 48px)
    }

    .spending-trends-cards .usa-card .usa-card__container {
        border-radius: 20px;
    }

    .spending-trends-cards {
        padding: 0 2vw;

        h4 {
            @include default-text-styling($color: $pa-vivid-blue, $size: 28px, $weight: 600, $height: 40px)
        }
        h5 {
            @include default-text-styling($color: $pa-darker-blue, $size: 18px, $weight: 400, $height: 36px)
        }
        p {
            @include default-text-styling($size: 14px, $weight: 400, $height: 20px)
        }
    }
    .spending-trends-header, .agency-trends-section {
        padding: 0vh 5vw;
    }

    .about-data-section .grid-row{
        padding: 5rem 5vw;
    }

    .agency-trends-section {
        h4 {
            @include default-text-styling($size: 32px, $weight: 600, $height:40px)
        }
        p {
            @include default-text-styling($size: 20px, $weight: 400, $height: 36px)
        }

        .usa-table thead th {
            background-color: $pa-dark-blue;
            @include default-text-styling($color: $white, $size: 12px, $weight: 600, $height: 14.5px);
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        th.agency-header {
            padding-left: 2rem;
        }

        .program-num-col {
            padding-left: 0;
            padding-right: 0;
            max-width: 4.6rem;
        }

        td.program-num-col {
            background-color: $pa-bg-lightest;
            @include default-text-styling($color: $pa-black, $size: 16px, $weight: 600, $height:24px);
        }
        
        .top-performing-table td.targets-met-col {
            @include default-text-styling($color: $accent-cool, $size: 14px, $weight: 600, $height: 16px)
        }

        .declining-table td.targets-met-col {
            @include default-text-styling($color: $error-primary, $size: 14px, $weight: 600, $height: 16px)
        }

        th.targets-met-col, td.targets-met-col {
            padding-left: 2rem;
            padding-right: 2rem;
            max-width: 7.3rem;
        }

        th.agency-col {
            max-width: 17rem;
        }

        .target-met-cell {
            border-radius: 13px;
            display: inline-block;
        }

        .top-performing-table .target-met-cell {
            background-color: $accent-cool-lighter;
        }
        .declining-table .target-met-cell {
            background-color: $error-lighter;
        }

        .agency-text-cell {
            .agency-abbrev a {
                @include default-text-styling($color: $pa-text-primary, $size: 16px, $weight: 600, $height: 24px);
            }
            .agency-name {
                @include default-text-styling($size: 14px, $weight: 400, $height: 16px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
            }
        }

        .usa-table caption {
            @include default-text-styling($color: $pa-black, $size: 22px, $weight: 600, $height: 28px);
        }
    }

    .about-data-section {
        h4 {
            @include default-text-styling($color: $pa-darker-blue, $size: 32px, $weight: 600, $height: 40px )
        }
        h5 {
            @include default-text-styling($size: 22px, $weight: 600, $height: 28px)
        }
        p {
            @include default-text-styling($size: 16px, $weight: 400, $height: 24px)
        }
    }

    .divider {
        background-color: $pa-vivid-blue;
    }

    .data-driven-card {
        border-radius: 20px;
        background-color: $pa-light-blue;
        padding: 0 3vw;
    
        h4 {
            @include default-text-styling($color: $pa-dark-blue, $size: 32px, $weight: 600, $height: 40px)
        }

        h5 {
            @include default-text-styling($color: $pa-black, $size: 22px, $weight: 400, $height: 36px)
        }
    }

    .about-data-section {
        background-color: $pa-light-blue
    }

    .resource-link {
        @include default-text-styling($color: $pa-text-primary, $size: 16px, $weight: 600, $height: 16px)
    }
}