@use 'mixins' as *;
@use 'variables' as *;

.legislation-card {
    border-radius: 20px;
    border: 1px solid #DFE1E2;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
    background-color: #fff;
    margin: 0;

    h4 {
        @include default-text-styling($color: $pa-text-primary, $size: 16px, $weight: 600, $height: 20px);
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }

    p {
        @include default-text-styling($size: 14px, $weight: 400, $height: 20px);
    }
}
