// Colors
$pa-light-blue: #E8F5FF;
$pa-vivid-blue: #0076D6;
$pa-dark-blue: #112F4E;
$pa-darker-blue: #11181D;
$pa-purple: #57278F;
$pa-purple-text: #54278F;
$pa-text-primary: #005ea2;
$pa-bg-lightest: #f0f0f0;
$pa-light-grey: #d9d9d9;
$pa-base-grey: #71767A;
$pa-base-light: #A9AEB1;
$pa-base-dark: #565C65;
$pa-lighter-grey: #DFE1E2;
$pa-darker-grey: #2B2B2B;
$pa-card-border-grey: #D7D7D7;
$white: #FFF;
$black: #000;
$pa-black: #1B1B1B;
$accent-cool: #146947;
$accent-cool-lighter: #DBF6ED;
$error-lighter: #F8DFE2;
$error-primary: #D83933;

// Screen sizes
$tablet: 768px;
$mobile: 480px;
$desktop: 1024px;