---
layout: default
permalink: /
---
{% assign report_chosen = true %}
{% if page.Agency == nil or page.Fiscal_Year == nil or page.Report_Id == nil %}
    {% assign report_chosen = false %}
{% endif %}
<div id="main-content" role="main" class="congressional-reports-container">
    <section class="usa-hero congressional-reports-hero no-print" aria-label="Congressional Reports">
        <div class="grid-container congressional-reports-hero-content">
            <div class="grid-row">
                <div class="grid-col-12 hero-text-container">
                    <div class="hero-text">
                        <h1>Congressional Reports</h1>
                        <p>
                            Generate and download reports specific to Payment Integrity regulations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="congressional-reports-content margin-bottom-15">
        <div class="grid-container">
            <div class="grid-row nav-row no-print">
                <div class="grid-col-12">
                    <p class="breadcrumbs">
                        <a href="/" class="home-link">Home</a> >
                        <a href="/resources">Resources</a> >
                        {% if report_chosen %}
                            <a href="/resources/congressional-reports">Congressional Reports</a> > {{ page.title }}
                        {% else %}
                            Congressional Reports
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="grid-row no-print">
                <div class="grid-col-12 resources-dataset-title" id="top">
                    <div>
                        <h3>Agency-level Oversight Reports</h3>
                            <p>
                                When the Federal Government makes payments to individuals and businesses as program beneficiaries, grantees, or contractors, or on behalf of program beneficiaries, it must make every effort to confirm that the right recipient is receiving the right payment for the right reason at the right time. The purpose of this website is to highlight efforts by Federal Agencies to reduce improper payments by intensifying their efforts to eliminate payment error, waste, fraud, and abuse in the major programs they administer.
                            </p>
                            <p>
                                PaymentAccuracy.gov is intended to increase transparency and provide easy access to accurate data, as submitted by the reporting agencies. Several reports are available to highlight these efforts, and can be accessed by searching below.
                            </p>
                    </div>
                </div>
            </div>

            <div class="grid-row gray-box no-print">
                <div class="grid-container">
                    <div class="grid-row">
                        <div class="grid-col-12">
                            <p>Make a selection in all three fields.  Then click "Generate Report" to view the report.</p>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="desktop:grid-col-2 tablet:grid-col-12 padding-0 desktop:padding-right-2">
                            <label class="usa-label" for="report-type">Report Type:</label>
                        </div>
                        <div class="desktop:grid-col-10 tablet:grid-col-12 padding-x-0 desktop:padding-x-2 padding-y-2 desktop:padding-y-0">
                            <select class="usa-select" name="report-type" id="report-type" onchange="enableGenerateReportsButtonIfPossible()">
                                {% unless report_chosen %}
                                    <option value="" selected>-Select-</option>
                                {% endunless %}

                                {% assign sorted_reports = site.data.congressional_reports.Reports_Dropdown | sort:"Id" %}
                                {% for report in sorted_reports %}
                                    <option value="{{ report.Id }}" {% if report.Id == page.Report_Id %}selected{% endif %} data-government-wide="{{ report.IsGovernmentWide }}">{{ report.Name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="desktop:grid-col-2 tablet:grid-col-12 padding-0 desktop:padding-right-2">
                            <label class="usa-label" for="agency-code">Agency:</label>
                        </div>
                        <div class="desktop:grid-col-10 tablet:grid-col-12 padding-x-0 desktop:padding-x-2 padding-y-2 desktop:padding-y-0">
                            <select class="usa-select" name="agency-code" id="agency-code" onchange="enableGenerateReportsButtonIfPossible()">
                                {% unless report_chosen %}
                                    <option value="" selected>-Select-</option>
                                {% endunless %}

                                {% assign sorted_agencies = site.data.congressional_reports.Agencies_Dropdown | sort:"Name" %}
                                {% for agency in sorted_agencies %}
                                    <option value="{{ agency.Code }}" {% if agency.Code == page.Agency %}selected{% endif %}>{{ agency.Name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="desktop:grid-col-2 tablet:grid-col-12 padding-0 desktop:padding-right-2">
                            <label class="usa-label" for="year">Fiscal Year (FY):</label>
                        </div>
                        <div class="desktop:grid-col-10 tablet:grid-col-12 padding-x-0 desktop:padding-x-2 padding-y-2 desktop:padding-y-0">
                            <select class="usa-select" name="year" id="year" onchange="enableGenerateReportsButtonIfPossible()">
                                {% assign sorted_years = site.data.congressional_reports.Years_Dropdown | sort | reverse %}
                                {% for year in sorted_years %}
                                    <option value="{{ year }}" {% if year == page.Fiscal_Year %}selected{% endif %}>{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="desktop:grid-col-4 tablet:grid-col-12 padding-0">
                            <button class="usa-button" id="generate-congressional-report-button" type="button" {% unless report_chosen %}disabled{% endunless %} onclick="generateReport()">
                                Generate Report
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            {% if report_chosen %}
                <div class="grid-row">
                    <div class="grid-col-12">
                        <p class="heading-text">{{ page.Agency_Name }}</p>
                        <p class="subheading-text">Fiscal Reporting Year</p>
                        <p class="answer-text">{{ page.Fiscal_Year }}</p>
                        <div class="usa-accordion congressional-reports-accordion">
                            <div class="usa-accordion__item">
                                <h4 class="usa-accordion__heading">
                                    <button class="usa-accordion__button" aria-expanded="true" aria-controls="title-accordion">
                                        {{ page.title }} and Requirements Summary
                                    </button>
                                </h4>
                                <div id="title-accordion" class="usa-accordion__content usa-prose">
                                    {% if page.Requirements != nil and page.Requirements.size > 0 %}
                                        {% for requirement in page.Requirements %}
                                            {% assign requirement_class = "requirement-regular" %}
                                            {% if requirement.Type == "BOLD" %}
                                                {% assign requirement_class = "requirement-bold" %}
                                            {% elsif requirement.Type == "ITALICIZED" %}
                                                {% assign requirement_class = "requirement-italicized" %}
                                            {% endif %}
                                            <p class="requirement-line {{ requirement_class }} requirement-indent-{{ requirement.Indent }}">{{ requirement.Text }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if page.Risks != nil %}
                    <!-- Additional Section for CR #1 -->
                    <div class="grid-row">
                        <div class="grid-col-12">
                            <div class="usa-accordion congressional-reports-accordion">
                                <div class="usa-accordion__item">
                                    <h4 class="usa-accordion__heading">
                                        <button class="usa-accordion__button" aria-expanded="true" aria-controls="risks-accordion">
                                            Risk Assessments
                                        </button>
                                    </h4>
                                    <div id="risks-accordion" class="usa-accordion__content usa-prose">
                                        {% include _risk-assessments-table.html
                                            Risks = page.Risks
                                        %}
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if page.SurveyData != nil and page.Hide_Survey != true and page.SurveyData.size > 0 %}
                    <div class="grid-row">
                        <div class="grid-col-12">
                            <div class="usa-accordion congressional-reports-accordion">
                                <div class="usa-accordion__item">
                                    <h4 class="usa-accordion__heading">
                                        <button class="usa-accordion__button" aria-expanded="true" aria-controls="survey-data-accordion">
                                            {{ page.SurveyName }}
                                        </button>
                                    </h4>
                                    <!-- Agency Survey Data -->
                                    <div id="survey-data-accordion" class="usa-accordion__content usa-prose">
                                        {% assign last_heading = "" %}
                                        {% assign last_subheading = "" %}
                                        {% assign first_answer = true %}
                                        {% assign sorted_survey = page.SurveyData | sort:"SortOrder" %}
                                        {% for surveyItem in sorted_survey %}
                                            {% if first_answer == false %}
                                                {% if surveyItem.Heading != last_heading or surveyItem.Subheading != last_subheading %}
                                                    <br />
                                                {% endif %}
                                            {% endif %}

                                            {% if surveyItem.Heading != last_heading %}
                                                <p class="heading-text">{{ surveyItem.Heading | newline_to_br }}</p>
                                                {% assign last_heading = surveyItem.Heading %}
                                                {% assign last_subheading = "" %}
                                            {% endif %}

                                            {% if surveyItem.Subheading != last_subheading %}
                                                <p class="subheading-text">{{ surveyItem.Subheading | newline_to_br }}</p>
                                                {% assign last_subheading = surveyItem.Subheading %}
                                            {% endif %}

                                            <p class="answer-text">
                                                {% if surveyItem.Type == "MILLIONS_OF_DOLLARS" %}
                                                    ${{ surveyItem.Answer | round: 2 | thousands_separator }} M
                                                {% elsif surveyItem.Type == "PERCENTAGE" %}
                                                    {{ surveyItem.Answer | round: 2 | thousands_separator }} %
                                                {% elsif surveyItem.Type == "MULTISELECT_TEXT" %}
                                                    {% for multiselectItem in surveyItem.Answer %}
                                                        {{ multiselectItem | newline_to_br }}<br />
                                                    {% endfor %}
                                                {% else %}
                                                    {{ surveyItem.Answer | newline_to_br }}
                                                {% endif %}
                                            </p>
                                            {% assign first_answer = false %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if page.ProgramSurveyData != nil and page.Hide_Program_Survey != true and page.ProgramSurveyData.size > 0 %}
                    <div class="grid-row">
                        <div class="grid-col-12">
                            {% assign sorted_programs = page.ProgramSurveyData | sort:"SortOrder" %}
                            {% for program in sorted_programs %}
                                <div class="usa-accordion congressional-reports-accordion">
                                    <div class="usa-accordion__item">
                                        <h4 class="usa-accordion__heading">
                                            <button class="usa-accordion__button" aria-expanded="true" aria-controls="survey-data-accordion-{{ program.SortOrder }}">
                                                {{ program.Program }}
                                            </button>
                                        </h4>

                                        <!-- Program Survey Data -->
                                        <div id="survey-data-accordion-{{ program.SortOrder }}" class="usa-accordion__content usa-prose">
                                            {% assign last_heading = "" %}
                                            {% assign last_subheading = "" %}
                                            {% assign first_answer = true %}
                                            {% assign sorted_survey = program.Answers | sort:"SortOrder" %}
                                            {% for surveyItem in sorted_survey %}
                                                {% if first_answer == false %}
                                                    {% if surveyItem.Heading != last_heading or surveyItem.Subheading != last_subheading %}
                                                        <br />
                                                    {% endif %}
                                                {% endif %}

                                                {% if surveyItem.Heading != last_heading %}
                                                    <p class="heading-text">{{ surveyItem.Heading | newline_to_br }}</p>
                                                    {% assign last_heading = surveyItem.Heading %}
                                                    {% assign last_subheading = "" %}
                                                {% endif %}

                                                {% if surveyItem.Subheading != last_subheading %}
                                                    <p class="subheading-text">{{ surveyItem.Subheading | newline_to_br }}</p>
                                                    {% assign last_subheading = surveyItem.Subheading %}
                                                {% endif %}

                                                <p class="answer-text">
                                                    {% if surveyItem.Type == "MILLIONS_OF_DOLLARS" %}
                                                        ${{ surveyItem.Answer | round: 2 | thousands_separator }} M
                                                    {% elsif surveyItem.Type == "PERCENTAGE" %}
                                                        {{ surveyItem.Answer | round: 2 | thousands_separator }} %
                                                    {% elsif surveyItem.Type == "MULTISELECT_TEXT" %}
                                                        {% for multiselectItem in surveyItem.Answer %}
                                                            {{ multiselectItem | newline_to_br }}<br />
                                                        {% endfor %}
                                                    {% else %}
                                                        {{ surveyItem.Answer | newline_to_br }}
                                                    {% endif %}
                                                </p>

                                                {% assign first_answer = false %}
                                            {% endfor %}

                                            {% if program.ActionsTaken != nil and program.ActionsTaken.size > 0 %}
                                                <!-- Additional Section for CR #4 -->
                                                <p class="heading-text">Actions to Reduce Improper Payments</p>
                                                {% include _actions-taken-table.html
                                                    Actions_Taken = program.ActionsTaken
                                                %}
                                            {% endif %}

                                            {% if program.ActionsTakenAdditionalData != nil and program.ActionsTakenAdditionalData.size > 0 %}
                                                <!-- Additional Section for CR #4 -->
                                                {% if program.ActionsTakenAdditionalData.Sufficiency != nil and program.ActionsTakenAdditionalData.Sufficiency != '' %}
                                                    <p class="heading-text">Description of How the Level of Actions Matches the Level of Improper Payments</p>
                                                    <p class="answer-text">{{ program.ActionsTakenAdditionalData.Sufficiency | newline_to_br }}</p>
                                                {% endif %}
                                                {% if program.ActionsTakenAdditionalData.Accountability != nil and program.ActionsTakenAdditionalData.Accountability != '' %}
                                                    <p class="heading-text">Accountability For Payment Integrity Through Performance Appraisal Criteria</p>
                                                    <p class="answer-text">{{ program.ActionsTakenAdditionalData.Accountability | newline_to_br }}</p>
                                                {% endif %}

                                                {% assign program_needs1_set = false %}
                                                {% if program.ActionsTakenAdditionalData.Needs1 != nil and program.ActionsTakenAdditionalData.Needs1 != '' %}
                                                    {% assign program_needs1_set = true %}
                                                {% endif %}
                                                {% assign program_needs2_set = false %}
                                                {% if program.ActionsTakenAdditionalData.Needs2 != nil and program.ActionsTakenAdditionalData.Needs2 != '' %}
                                                    {% assign program_needs2_set = true %}
                                                {% endif %}
                                                {% if program_needs1_set or program_needs2_set %}
                                                    <p class="heading-text">Program Needs</p>
                                                    {% if program_needs1_set %}
                                                        <p class="answer-text">{{ program.ActionsTakenAdditionalData.Needs1 | newline_to_br }}</p>
                                                    {% endif %}
                                                    {% if program_needs2_set %}
                                                        <p class="answer-text">{{ program.ActionsTakenAdditionalData.Needs2 | newline_to_br }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if page.High_Priority_Links != nil and page.High_Priority_Links.size > 0 %}
                    <!-- Additional Section for CR #2 -->
                    <div class="grid-row">
                        <div class="grid-col-12">
                            <div class="usa-accordion congressional-reports-accordion">
                                <div class="usa-accordion__item">
                                    <h4 class="usa-accordion__heading">
                                        <button class="usa-accordion__button" aria-expanded="true" aria-controls="risks-accordion">
                                            See the Most Recent Quarterly Scorecard for Additional Information About Actions to Recover Improper Payments
                                        </button>
                                    </h4>
                                    <div id="risks-accordion" class="usa-accordion__content usa-prose">
                                        {% for link in page.High_Priority_Links %}
                                            <a href="{{ link.Link | absolute_url }}" target="_blank">
                                                {{ link.Program_Name }}
                                            </a>
                                            <br />
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if page.IPData != nil %}
                    <!-- Additional Section for CR #6 -->
                    {% include _congressional-report-6.html
                        IPData = page.IPData
                    %}
                {% endif %}

                {% if page.DoNotPayData != nil %}
                        <!-- Additional Section for CR #9 -->
                    {% include _congressional-report-9.html
                        DoNotPayData = page.DoNotPayData
                    %}
                {% endif %}

                <div class="grid-row no-print">
                    <div class="grid-col-12">
                        <button class="usa-button print-congressional-report-button" onclick="window.print()">Print Report</button>
                    </div>
                </div>

            {% endif %}
        </div>
    </section>
</div>
<script src="{{ '/assets/js/congressional-reports-scripts.js' | relative_url }}"></script>