---
layout: default
permalink: /
---
<div id="main-content" role="main" class="programs-container">
    <section class="usa-hero programs-hero" aria-label="Agencies & Programs">
        <div class="grid-container programs-hero-content">
            <div class="grid-row">
                <div class="grid-col-7 hero-text-container">
                    <div class="hero-text">
                        <h1>Example Program Page</h1>
                        <p>
                            This is a placeholder page.  Coming soon!
                        </p>
                    </div>
                </div>
                <div class="grid-col hero-image-container">
                    <div class="hero-image">
                        <img src="/assets/img/agencies-programs-image.png" alt="Agencies Programs Image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="programs-content">
        <div class="grid-container">
            <div class="grid-row grid-gap-3 nav-row">
                <div class="desktop:grid-col-8 tablet:grid-col-12">
                    <p class="breadcrumbs"><a href="/" class="home-link">Home</a> > <a href="/agencies-and-programs">Agencies & Programs</a> > Example Program Page</p>
                </div>
                <div class="desktop:grid-col-4 tablet:grid-col-12"></div>
            </div>
        </div>
    </section>
</div>