<div class="usa-card__container agency-wide-card">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-col-1 card-icon">{{ include.icon }}</div>
            <div class="grid-col-fill">
                <div class="usa-card__header padding-x-2">
                    <h4 class="usa-card__heading">{{ include.headline }}</h4>
                </div>
                <div class="usa-card__body padding-top-0 padding-x-2">
                    <p>{{ include.text }}</p>
                </div>
            </div>
        </div>
    </div>
</div>