<header class="payment-accuracy-header no-print usa-header usa-header--basic header{% if page.url == '/' or page.url == '/index.html' %} homepage{% endif %}" role="banner">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo display-flex" id="basic-logo">
                <a href="/" title="Payment Accuracy" class="display-flex flex-align-center">
                    <img  class="usa-identifier__logo-img" 
                        src="/assets/img/omb-logo.png" 
                        alt="Executive Office of the President, Office of Management and Budget logo" 
                        width="49" 
                        height="49"
                    >
                    <span class="text-bold font-heading-md tablet:font-body-lg site-title">
                        PaymentAccuracy
                    </span>
                </a>
            </div>
        <button type="button" class="usa-menu-btn">Menu</button>
        </div>
        
        <nav role="navigation" class="usa-nav">
            <button type="button" class="usa-nav__close">
                <img src="/assets/img/close.svg" role="img" alt="Close"/>
            </button>

            <ul class="usa-nav__primary usa-accordion">
                <li class="usa-nav__primary-item">
                    <a href="/about" class="usa-nav__link"><span>About</span></a>
                </li>
                <li class="usa-nav__primary-item">
                    <a href="/agencies-and-programs" class="usa-nav__link"><span>Agencies & Programs</span></a>
                </li>
                <li class="usa-nav__primary-item">
                    <a href="/resources" class="usa-nav__link"><span>Resources</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>





