<div class="usa-card__container legislation-card">
    <div class="usa-card__header">
        <a href="{{ include.link }}" {% if include.link_is_external %}target="_blank" rel="noopener noreferrer"{% endif %}><h4 class="usa-card__heading">{{ include.headline }}</h4></a>
    </div>
    <div class="usa-card__body">
        <p>
            {% if include.link1 != nil and include.link1 != "" %}
                <a href="{{ include.link1 }}" target="_blank" rel="noopener noreferrer">{{ include.text1 }}</a>
            {% else %}
                {{ include.text1 }}
            {% endif %}
        </p>
        {% if include.text2 != nil and include.text2 != "" %}
            <p>
                {% if include.link2 != nil and include.link2 != "" %}
                    <a href="{{ include.link2 }}" target="_blank" rel="noopener noreferrer">{{ include.text2 }}</a>
                {% else %}
                    {{ include.text2 }}
                {% endif %}
            </p>
        {% endif %}
    </div>
</div>